# common
.venv/*
docs/*
initcloud_web_bak/*
tests/*
requirements.txt
*.pyc
*.swp
initcloud_web/initcloud.wsgi
initcloud_web/manage.py

# biz
initcloud_web/biz/*
!initcloud_web/biz/phy_monitor

# static
initcloud_web/render/*
!initcloud_web/render/static/management/*

# initcloud_web
initcloud_web/initcloud_web/*
!initcloud_web/initcloud_web/settings.py

# api
initcloud_web/cloud/*
!initcloud_web/cloud/api/redfish.py

# frontend
initcloud_web/frontend/*

# common
initcloud_web/common/*
