# common
.venv/*
docs/*
initcloud_web_bak/*
tests/*
requirements.txt
*.pyc
*.swp

# biz
initcloud_web/biz/account/*
initcloud_web/biz/alarm/*
initcloud_web/biz/backup/*
initcloud_web/biz/billing/*
initcloud_web/biz/cloud_auth/*
initcloud_web/biz/common/*
initcloud_web/biz/deployapp/*
initcloud_web/biz/firewall/*
initcloud_web/biz/floating/*
initcloud_web/biz/forum/*
initcloud_web/biz/group/*
initcloud_web/biz/heat.bak/*
initcloud_web/biz/heat/*
initcloud_web/biz/idc/*
initcloud_web/biz/image.ydd.20160716/*
initcloud_web/biz/image/*
initcloud_web/biz/instance/*
initcloud_web/biz/instancemanage/*
initcloud_web/biz/instanceorg/*
initcloud_web/biz/lbaas/*
initcloud_web/biz/locale/*
initcloud_web/biz/management/*
initcloud_web/biz/myapp/*
initcloud_web/biz/network/*
initcloud_web/biz/order_heat/*
initcloud_web/biz/overview/*
initcloud_web/biz/policy_cinder/*
initcloud_web/biz/policy_neutron/*
initcloud_web/biz/policy_nova/*
initcloud_web/biz/role/*
initcloud_web/biz/service_grant/*
initcloud_web/biz/swift/*
initcloud_web/biz/teddd/*
initcloud_web/biz/templatemanager/*
initcloud_web/biz/templatesmm/*
initcloud_web/biz/tesdd/*
initcloud_web/biz/testdd/*
initcloud_web/biz/UserGrouper/*
initcloud_web/biz/volume/*
initcloud_web/biz/workflow/*
initcloud_web/biz/__init__.py
initcloud_web/biz/create.sh
initcloud_web/biz/makemigrations.sh
